@import "./styles/index";
@import "the-new-css-reset";

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

em {
  font-weight:600;
  font-style:italic;
}
strong {
  font-weight:bold;
}

i {
  font-style: italic;
}


body {
  background-color: black;
  color: $color-text;
  font-size: $size-vw;
  font-family: $font-family;
}
nav {
  position: absolute;
  z-index: 9999;
  width: 100%;
  background-color: whitesmoke;
  padding: 0px;
  animation: navigation-load 500ms ease-in forwards;
}
nav ul {
  position: relative;
  left: 16vw;
}
nav li {
  display: inline-flex;
  flex-flow: row;
  justify-content: center;
  font-weight: bold;
  width: 12vw;
  margin: 5px 5px;
  padding: 10px;
  box-shadow: 3px 3px 3px 3px gray;
  background-color: white;
  animation: navigation-load-link;
  animation-duration: 400ms;
  animation-timing-function: ease-in;
  animation-delay: 500ms;
  animation-fill-mode: forwards;
  transform: scale(0);
}
nav li:first-child {
  animation-name: navigation-load-first-link;
  transform: translateX(-800%);
}
nav li:last-child {
  animation-name: navigation-load-last-link;
}
li:hover {
  color: greenyellow;
  background-color: black;
  opacity: .8;
}
.fake-slider {
  position: fixed;
  z-index: 1;
  background-image: url("./styles/PortfolioPozadina_v3-obrub.png");
  background-position: top;
  background-size: 100vw;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vw;
}
.app-header__h1 {
  font-size: $size-vw*3;
  display: flexbox;
  position: absolute;
  left: 64vw;
  top: 10vw;
  flex-flow: row nowrap;
  justify-content: stretch;
  align-items: flex-start;
}
.back-ground-image {
  background-image: url("./styles/PortfolioPozadina_v3.png");
  z-index: -2;
  position: absolute;
  width: 100vw;
  height: 100vw;
  left: 19vw;
  top: 4.8vw;
  background-size: 80vw;
  background-repeat: no-repeat;
}
.about {
  font-size: $size-vw;

  &__h2 {
    font-size: $size-vw*2;
    position: absolute;
    left: 40vw;
    top: 23vw;
  }

  &__p {
    position: absolute;
    z-index: -1;
    left: 20vw;
    top: 32vw;    
  }

}
.showcase {
  position: absolute;
  top: 80vw;
}

.github-logo {
  position: absolute;
  left: 6vw;
  top: 38vw;
  background-color: white;
  padding: 10px;
  border-radius: 20%;
  height: 8vw;
}

@keyframes navigation-load {
  0% {
    transform: translateY(-100%);
  }
  75% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0);
    position: fixed;
  }
}
@keyframes navigation-load-link {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  55% {
    transform: scale(1.2);
    opacity: 1;
  }
  75% {
    transform: scale(0.95);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
@keyframes navigation-load-first-link {
  0% {
    transform: translateX(-80%);
    opacity: 0;
  }
  80% {
    transform: translateX(10px);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes navigation-load-last-link {
  0% {
    transform: translateX(80%);
    opacity: 0;
  }
  80% {
    transform: translateX(-10px);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
  }
}