@import "./styles/index";
@import "the-new-css-reset";

html {
    font-size: 62.5%;
}

em {
  font-weight:600;
  font-style:italic;
}
strong {
  font-weight:bold;
}

i {
  font-style: italic;
}


body {
    background-color: black;
    color: $color-text;
    font-size: $size-vw;
    font-family: $font-family;
}
.navigation {
  position: fixed;
  display: flex;
  z-index: 2;
  left: 16vw;
  background-color: rgba(248, 244, 244, 0.836);

  &__fake-slider {
    position: fixed;
    background-image: url("./styles/PortfolioPozadina_v3-obrub.png");
    z-index: 1;
    background-position: top;
    background-size: 100vw;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vw;
  }

  &__item {
    display: inline-flex;
    flex-flow: row;
    justify-content: center;
    font-weight: bold;
    width: 12vw;
    margin: 3px;
    background-color: rgba(248, 244, 244, 0.836);
    padding: 10px;
  }
}
.app-header__h1 {
  font-size: $size-vw*3;
  display: flexbox;
  position: absolute;
  left: 64vw;
  top: 10vw;
  flex-flow: row nowrap;
  justify-content: stretch;
  align-items: flex-start;
}
.back-ground-image {
  background-image: url("./styles/PortfolioPozadina_v3.png");
  z-index: -1;
  position: absolute;
  width: 100vw;
  height: 100vw;
  left: 19vw;
  top: 4.8vw;
  background-size: 80vw;
  background-repeat: no-repeat;
}
.about {
  font-size: $size-vw;

  &__h2 {
    font-size: $size-vw*2;
    position: absolute;
    left: 40vw;
    top: 23vw;
  }

  &__p {
    position: absolute;
    left: 20vw;
    top: 32vw;    
  }

}
.showcase {
  position: absolute;
  top: 80vw;
}

.github-logo {
  position: absolute;
  left: 6vw;
  top: 38vw;
  background-color: white;
  padding: 10px;
  border-radius: 20%;
  height: 8vw;
}